#app {
  height: 55.03px;
}

/* mapセクション */
main {
  position: relative;
  height: 600px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75%;
}
.footer {
  max-height: 60px;
}

/* 都道府県から探すセクション */
.prefecture_title {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}
.region {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.prefecture {
  font-size: 0.7rem;
  margin-right: 0.3rem;
}
