/***** 共通 *****/
#app {
  height: 55.03px;
}
/* メッセージ */
.validation {
  color: #d71c1c;
}
.error_message {
  color: #d71c1c;
}
.post_message {
  color: #0fbe9f;
  margin-top: 0.5rem;
}
/***** トップページ *****/
/* mapセクション */
main {
  position: relative;
  height: 82vh;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75%;
}
.footer {
  max-height: 85px;
}

/* 都道府県から探すセクション */
.prefecture_title {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}
.region {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.prefecture {
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

/***** 投稿画面 *****/
.review-score-color {
  color: #0fbe9f;
}
.review-score-color:focus {
  color: #0fbe9f;
}