/***** 共通 *****/
#app {
  height: 55.03px;
}
/* メッセージ */
.validation {
  color: #d71c1c;
}
.error_message {
  color: #d71c1c;
}
.post_message {
  color: #0fbe9f;
  margin-top: 0.5rem;
}
/***** トップページ *****/
/* mapセクション */
main {
  position: relative;
  height: 82vh;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75%;
}
.footer {
  max-height: 85px;
}

/* 都道府県から探すセクション */
.prefecture_title {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}
.region {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.prefecture {
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

/***** 投稿画面 *****/
.review-score-color {
  color: #0fbe9f;
}
.review-score-color:focus {
  color: #0fbe9f;
}

/***** 詳細画面 *****/
.row_style {
  margin-top: 1rem;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.post_block_parent {
  border: 1px solid #e4dede;
  border-radius: 5px;
  box-shadow: 0px 8px 5px -9px rgba(0,0,0,0.5);
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.post_block_child {
  text-align: center;
}
.post_image {
  max-width: 100%;
  height: auto;
}
